body {
  margin: 0;
}

#secondbar {
  margin-top: 22px;
}

#midbar {
  margin-top: 32px;
  height: 220px;
  text-align: center;
}

.imagebox {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.imageitem {
  border-radius: 16px;
  border: 1px solid black;
}

#bottombar {
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #fafafb;
}

.lastone {
  text-align: center;
}

.topbarone {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
